.cm-widget-list{
    margin-right: 5px;
    display: block;
}

.cm-preview{
    padding: 5px 5px 0px 5px;
}

.cm-widget-ul{
margin-top: 10px;
}

.cm-up-down-btn{
    margin: 0px 2.5px 0px 2.5px;
}

.cm-ff{
    margin-right: -15px;
}

.cm-widget-heading{
    margin: 0px 10px 0px 10px;
}

.cm-heading-form-control{
    margin: 10px 0px 10px 0px
}
